.Bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  width: 100%;
}

@media (max-width: 1024px) {
  .Bottom {
    gap: 24px;
  }
}

@media (max-width: 760px) {
  .Bottom {
    gap: 16px;
  }
}