.Wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 64px;

  border: 1px solid blue;
}

@media (max-width: 1024px) {
  .Wrapper {
    column-gap: 48px;
  }
}