.Wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 64px;
}

@media (max-width: 1024px) {
  .Wrapper {
    column-gap: 48px;
  }
}

@media (max-width: 760px) {
  .Wrapper {
    grid-template-columns: initial;
    grid-template-rows: initial;
    column-gap: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
  }
}