.Wrapper {
  width: 100%;
}

.Form {
  max-width: var(--container-width-desktop);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}