.Wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.Container {
  max-width: var(--container-width-desktop);
  width: 100%;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 32px;
  min-height: 500px;
}

.Title {
  color: var(--colors-dark-grey);
  text-align: center;
}

.Description {
  color: var(--colors-dark-grey);
  text-align: center;
}

@media (max-width: 1024px) {
  .Wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}