.Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 16px;
  flex-grow: 1;
  flex-shrink: 1;
}

.Item {
  padding-left: 16px;;
}

@media (max-width: 1024px) {
  .Wrapper {
    gap: 0;
  }
}

@media (max-width: 760px) {
  .Wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: initial;
    flex-shrink: initial;
    gap: 16px;
  }

  .Item {
    padding-left: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}