.Wrapper {
  width: 100%;
  padding-top: 128px;
}

.Container {
  max-width: var(--container-width-desktop);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
}

.Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
}

.Bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid var(--colors-light-grey);
}

@media (max-width: 1024px) {
  .Wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .Container {
    gap: 16px;
  }

  .Top {
    gap: 32px;
  }
}

@media (max-width: 760px) {
  .Wrapper {
    padding-top: 24px;
  }

  .Container {
    gap: 32px;
  }

  .Top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .Bottom {
    padding-top: 24px;
    padding-bottom: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}