.Wrapper {
  width: 100%;
  padding-top: 128px;
  border: 1px solid black;
}

.Container {
  max-width: var(--container-width-desktop);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
}

.Top {
  border: 1px solid black;
}

.Bottom {
  border: 1px solid red;
}