.Wrapper {
  width: 100%;
  background-color: var(--colors-green);
}

.Container {
  max-width: var(--container-width-desktop);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 16px;
}

@media (max-width: 1024px) {
  .Wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .Container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (max-width: 760px) {
  .Container {
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 10px;
  }
}