.Footer {
  width: 100%;
  border: 1px solid black;
}

.FooterContainer {
  max-width: var(--container-width-desktop);
  width: 100%;
  margin: 0 auto;
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.FooterLogoContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
}

.FooterContent {
  flex-grow: 1;
  flex-shrink: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
}