.Nav {
  width: 100%;
}

.NavContainer {
  max-width: var(--desktop-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--navigation-bar-height);
  gap: 30px;

  border: 1px solid black;
}

.NavLogoContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.NavList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}