.Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;

  border: 1px solid red;
}

@media (max-width: 560px) {
  .Wrapper {
    display: none;
  }
}